mint{
	border-color:white;
	border-radius:12px;
	border-width:1px;
	border-style:solid;
	background-color:#9593D9;
}

body{
	background-color:#E5BEED;
	
}




.gum{
	text-align:center;
	color:#FEFAE0;
	border-color:white;
	border-radius:12px;
	border-width:1px;
	border-style:solid;
	margin-left:700px;
	margin-right:700px;
	color:#9593D9;
	background-color:#7D5C65;
}

.gummy{
	padding:200px;
	
}

.bear{
	background-color:#7D5C65;
	color:#FEFAE0;
	text-align:center;
	font-size:40px;
	text-decoration:none;
	font-family: "Shadows Into Light", cursive;
	font-weight: 400;
	font-style: normal;
	border-color:white;
	border-radius:12px;
	border-width:1px;
	border-style:solid;
}

.gummyBear{
	margin-top:200px;
	margin-left:600px;
	background color:#7D5C65;
}

.walnut{
	background-color:#9593D9;
}

.white{
	
	color:white;
}

.center{
	text-align:center;
}

.hidden{
	display:none;
}

.tallnut{
	background-color:#736B92;
}



